img {border: 0;}

.centerMe {
text-align:center;
} 

.standard_red  a:link{
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: red;
}
.standard_red  a:visited{
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: red;
}

.cat_div_title_w
{
left: 0px;
top: 13px;
border: 1px solid #cbacac;
width: 754px;
text-align: center;
vertical-align: middle;
position: absolute;

font-size:14px; 
color: white;
font-family: "Thaoma", verdana;
background-image: url(media/sfondomriposo_due.jpg);
}

.standard_red  a:hover{
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: red;
}
.cat_desc {
font-family: "Thaoma", verdana;
font-size:9px; 
text-decoration: none;
font-style: none;
color: black;
}
.standard_menu {
font-family: "Thaoma", verdana;
font-size: 10px;
text-align: center;
text-decoration: none;
font-style: none;
color: white;
}
.standard {
font-family: "Thaoma", verdana;
font-size:14px; 
text-align: center;
text-decoration: none;
font-style: none;
color: black;
}
.big {
font-family: "Thaoma", verdana;
font-size:24px; 
text-align: center;
text-decoration: none;
font-style: none;
color: blue;
}

.Vbig {
font-family: "Thaoma", verdana;
font-size:34px; 
text-align: center;
text-decoration: none;
font-style: none;
color: blue;
}
.standardP {
font-family: "Thaoma", verdana;
font-size:12px; 
text-align: center;
text-decoration: none;
font-style: none;
color: black;
}
.standard_blue {
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: blue;
}
.standard_blue a {
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: blue;
}
.standard_blue  a:visited{
font-family: "Thaoma", verdana;
font-size:13px; 
text-align: right;
text-decoration: none;
font-style: none;
color: blue;
}
.standard_blue  a:hover{
text-decoration: underline;

}


.search_div
{
top: 1px;
float: left;
border: 0px solid #b516e3;
background-image: url(media/sfondo_search.jpg);
background-color: #e1e1e1;
width: 756px;
text-align: center;
vertical-align: center;
position: absolute;
height:30px;
}

.help_title
{
left: 496px;
top: 13px;
border: 1px solid #cbacac;
width: 258px;
text-align: center;
vertical-align: middle;
position: absolute;
color: white;
font-family: "Thaoma", verdana;
font-size: 14px;
background-image: url(media/sfondomriposo_due.jpg);
}

.all_info
{
font-family: "Thaoma", verdana;
left: 496px;
top: 34px;
border: 1px solid #adbeea;
width: 258px;
text-align: left;
vertical-align: center;
position: absolute;

font-size:11px; 
color: #933434;
background-image: url(media/info.jpg);
}

.all_info a
{
text-decoration:none;

font-family: "Thaoma", verdana;
color: #933434;
}

.all_info a :hover
{
text-decoration:underline;
font-family: "Thaoma", verdana;
background-image: url(media/infoa.jpg);

}

.all_info a:visited
{
text-decoration: none;
font-family: "Thaoma", verdana;

}

.all_info a:link
{
text-decoration: none;
font-family: "Thaoma", verdana;

}


.all_info_due
{
font-family: "Thaoma", verdana;
left: 510px;
top: 324px;
border: 0px solid blue;
width: 226px;
text-align: left;
vertical-align: center;
position: absolute;
height:140px;
font-size:11px; 
color: #933434;
background-image: url(media/info.jpg);
}
.all_info_tre
{
font-family: "Thaoma", verdana;
left: 510px;
top: 474px;
border: 0px solid blue;
width: 226px;
text-align: left;
vertical-align: center;
position: absolute;

font-size:11px; 
color: #933434;
background-image: url(media/info.jpg);
}
.cat_div_title
{
left: 0px;
top: 13px;
border: 1px solid #cbacac;
width: 490px;
text-align: center;
vertical-align: middle;
position: absolute;

font-size:14px; 
color: white;
font-family: "Thaoma", verdana;
background-image: url(media/sfondomriposo_due.jpg);
}



.cat_div_title a:link
{
color: white;
font-size:14px; 
font-family: "Thaoma", verdana;
}

.cat_div_title a:hover
{
color: white;
font-size:14px; 
font-family: "Thaoma", verdana;
}

.cat_div_title a:visited
{
color: white;
font-size:14px; 
font-family: "Thaoma", verdana;
}

.all_cats
{
top: 34px;
border: 0px solid #cbacac;
width: 490px;
text-align: left;
vertical-align: center;
position: absolute;
height:780px;
font-size:12px; 
color: blue;
}
.all_cats_w
{
top: 34px;
border: 0px solid #cbacac;
width: 754px;
text-align: left;
vertical-align: center;
position: absolute;
height:780px;
font-size:12px; 
color: blue;
}

.descrizione_div
{
font-family: "Thaoma", verdana;
top: 0px;
border: 1px solid #adbeea;
width: 486px;
text-align: left;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.descrizione_div  a{
text-decoration: none;
color: blue;
}
.descrizione_div  a:hover{
text-decoration: none;
background-color: yellow;
}


.descrizione_div_w
{
font-family: "Thaoma", verdana;
top: 0px;
border: 1px solid #adbeea;
width: 750px;
text-align: left;
vertical-align: center;
position: absolute;
font-size:12px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.descrizione_div_w  a{
text-decoration: none;
color: blue;
}
.descrizione_div_w  a:hover{
text-decoration: none;
background-color: yellow;
}

.ajax_info
{
font-family: "Thaoma", verdana;
top: 0px;
width: 478px;
border: 1px solid #e3d194;
text-align: center;
vertical-align: center;
position: relative;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #f4fbc5;
}
.videochat_img
{
font-family: "Thaoma", verdana;
top: 100px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.acquisizione_img
{
font-family: "Thaoma", verdana;
top: 160px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.distr_junair
{
font-family: "Thaoma", verdana;
top: 125px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.daq
{
font-family: "Thaoma", verdana;
top: 160px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.rod
{
font-family: "Thaoma", verdana;
top: 492px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.distr_gt
{
font-family: "Thaoma", verdana;
top: 210px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.distr_fujikin
{
font-family: "Thaoma", verdana;
top: 310px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.distr_sakaguchi
{
font-family: "Thaoma", verdana;
top: 430px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.distr_tubi
{
font-family: "Thaoma", verdana;
top: 500px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.distr_manometri
{
font-family: "Thaoma", verdana;
top: 590px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.img_right
{

top: 20px;
left: 350px;
position: absolute;
}


.distr_flussimetri
{
font-family: "Thaoma", verdana;
top: 670px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.distr_vuoto
{
font-family: "Thaoma", verdana;
top: 760px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.distr_raccordi
{
font-family: "Thaoma", verdana;
top: 855px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.prodotti_tf
{
font-family: "Thaoma", verdana;
top: 930px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}








.junair_img
{
font-family: "Thaoma", verdana;
top: 285px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.distribuzione_img
{
font-family: "Thaoma", verdana;
top: 450px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.reser_img
{
font-family: "Thaoma", verdana;
top: 590px;
width: 128px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.criterion
{
font-family: "Thaoma", verdana;
top: 253px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.dmfc
{
font-family: "Thaoma", verdana;
top: 305px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}


.mfc
{
font-family: "Thaoma", verdana;
top: 353px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.lf
{
font-family: "Thaoma", verdana;
top: 400px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.rga
{
font-family: "Thaoma", verdana;
top: 460px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}

.prog_hw_img
{
font-family: "Thaoma", verdana;
top: 20px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 2px;
background-color: #ffffff;
}
.slides_img
{
font-family: "Thaoma", verdana;
top: 26px;
width: 118px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: absolute;
font-size:13px; 
color: #000000;
left: 8px;
background-color: #ffffff;
}

.prog_hw_text
{
font-family: "Thaoma", verdana;
top: 0px;
width: 347px;
border: 0px solid #000000;
text-align: center;
vertical-align: center;
position: relative;
font-size:13px; 
color: #000000;
left: 134px;
background-color: #ffffff;
}

.prog_hw_text a
{
text-decoration: none;
}

.prog_hw_text  a:hover{

background-color: yellow;
}



.catp_div_title
{
left: 0px;
top: 286px;
border: 1px solid #cbacac;
width: 490px;
text-align: center;
vertical-align: middle;
position: absolute;
height:16px;
font-size:11px; 
color: white;
font-family: "Thaoma", verdana;
font-size: 12px;
background-image: url(media/sfondomriposo.jpg);
}

.all_catps
{
top: 306px;
border: 0px solid #cbacac;
width: 490px;
text-align: left;
vertical-align: center;
position: absolute;
height:280px;
font-size:12px; 
color: blue;
background-image: url(media/allcats.jpg);
}

.catp_div_1
{
top: 0px;
border: 0px solid #dd6040;
width: 160px;
text-align: left;
vertical-align: center;
position: absolute;
height:200px;
font-size:12px; 
color: blue;
left: 2px;
}
.catp_div_1 a:link
{
text-align: left;
font-size:12px; 
color: #933434;
}
.catp_div_1 a:hover
{
text-align: left;
font-size:12px; 
color: #933434;
}
.catp_div_1 a:visited
{
text-align: left;
font-size:12px; 
color: #933434;
}


.catp_div_2
{
top: 0px;
left: 184px;
border: 0px solid #dd6040;
width: 160px;
text-align: left;
vertical-align: center;
position: absolute;
height:200px;
font-size:12px; 
color: #933434;
}

.catp_div_2 a:link
{
text-align: left;
font-size:12px; 
color: #933434;
}

.catp_div_2 a:hover
{
text-align: left;
font-size:12px; 
color: #933434;
}

.catp_div_2 a:visited
{
text-align: left;
font-size:12px; 
color: #933434;
}



.catp_div_3
{
left: 348px;
top: 0px;
border: 0px solid #dd6040;
width: 160px;
text-align: left;
vertical-align: center;
position: absolute;
height:200px;
font-size:12px; 
color: #933434;
}

.catp_div_3 a:link
{
text-align: left;
font-size:12px; 
color: #933434;
}

.catp_div_3 a:hover
{
text-align: left;
font-size:12px; 
color: #933434;
}

.catp_div_3 a:visited
{
text-align: left;
font-size:12px; 
color: #933434;
}


.in_logo_div
{
top: 34px;
float: right;
border: 0px solid #b516e3;
width: 660px;
text-align: left;
vertical-align: center;
position: absolute;
height:56px;
left: 86px;
}

.logo_container
{
top: 14px;
float: right;
border: 0px solid #b516e3;
width: 76px;
text-align: left;
vertical-align: center;
position: absolute;
height: 76px;
left: 10px;
}
.logo_div
{
border: 0px solid #b516e3;
border-bottom-width: 0px;
text-align: left;
vertical-align: middle;
width: 760px;
}
.main_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 700px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 20px;
}

.main_long_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 1624px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 40px;
}

.main_vlong_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 2200px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 40px;
}
.main_vvlong_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 2900px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 40px;
}


.main_vvvlong_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 4000px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 40px;
}
.main_xvvlong_div
{

border: 1px solid gray;
vertical-align: middle;
width: 760px;
height: 4900px;
margin: 0px auto;
text-align: center;
position: relative;
background-color: #ffffff;
top: 40px;
}

.sub
{
font-family: "Thaoma", verdana;
font-size:13px; 
position: relative;
border: 0px solid blue;
text-align: left;
vertical-align: middle;
width: 760px;
height: 50px;
color: white;
top: -1px;
margin: 0px auto;
background-image: url(media/sfondo_sub.jpg);
left: 0;
text-decoration:none;
}
.sub a
{
text-align: left;
vertical-align: middle;
color: white;
background-image: url(media/sfondo_sub.jpg);
text-decoration:none;
}

.sub_w3c_logo
{
position: relative;
border: 1px solid white;
text-align: center;
width: 100px;
height: 32px;
color: white;
top: 2px;
}
.sub_w3c_logo_txt
{
position: relative;
border: 0px solid white;
text-align: center;
width: 720px;
height: 22px;
color: white;
top: 8px;
text-decoration:none;
}
.sub_w3c_logo_txt a:hover
{
text-align: center;
color: white;
text-decoration:underline;
}
.sub a:hover
{
font-family: "Thaoma", verdana;
font-size:14px; 
color: white;
font-style: none;
}
.sub a:link
{
font-family: "Thaoma", verdana;
font-size:14px; 
color: white;
font-style: none;
}
.sub a:visited
{
font-family: "Thaoma", verdana;
font-size:14px; 
color: white;
font-style: none;
}

.intro_style
{
border: 0px solid #b516e3;
position:absolute;
left:2px;
top:86px;
text-align:  left;
vertical-align: left;
width: 756px;
height: 580px;
}

.menuSELECTED a{
float: right;
padding: 2px;
margin: 1px;
background-color: #ffffff;
border: 0px solid blue;
width:128px;
text-align:center;
text-decoration:none;
font-family: "Thaoma", verdana;
font-size: 12px;
color: white;
background-image: url(media/sfondoselected.jpg);
}


.menuSELECTED a:hover{
float: right;
padding: 2px;
margin: 1px;
background-color: #ffffff;
border: 0px solid blue;
width:128px;
text-align:center;
text-decoration:none;
font-family: "Thaoma", verdana;
font-size: 12px;
color: white;
background-image: url(media/sfondoselected.jpg);
}

.menu a{
float: right;
padding: 2px;
margin: 1px;
background-color: #ffffff;
border: 0px solid blue;
width:128px;
text-align:center;
text-decoration:none;
font-family: "Thaoma", verdana;
font-size: 12px;
color: white;
text-decoration: none;
background-image: url(media/sfondomriposo_due.jpg);
}
.menu a:hover{
background-color: #4269de;
color: white;
font-family: "Thaoma", verdana;
font-size: 12px;
text-decoration:underline;
background-image: url(media/sfondohover.jpg);
}

.input
{
width:100%;
}


BODY {
margin:0; padding:0;background-color: #abb3d9;
}

