<div *ngIf="authInfo.userIsLogged">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
                <div class="col-sm-12"><h1>Search</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Description string:
            </div>
            <div class="col-sm-9">
                <app-search></app-search>
            </div>
        </div>

          <h3>Password fields</h3>
          <app-password-fields></app-password-fields>

          <br>
          <a routerLink="/settings" routerLinkActive="active">Edit settings</a> - <span (click)="logOut()" class="logOutStyle"> Logout </span>
      </div>
      <div class="col-sm-3">
          <h3>Categories</h3>
          <app-categories></app-categories>
      </div>
    </div>
</div>

<div *ngIf="!authInfo.userIsLogged">
    <app-login (logIn)="receiveLogin($event);"></app-login>
</div>