<form #f="ngForm" novalidate>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <input type="hidden" name="id" class="form-control" placeholder="Id" [(ngModel)]="categoriesService.entry.id">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Category:
    </div>
    <div class="col-10">
     <input type="text" name="category" class="form-control" placeholder="Category" [(ngModel)]="categoriesService.entry.category" (keyup)="updateSuggestionString(categoriesService.entry.category)" [appHighlight]="highLightColor">
      <app-autocomplete [suggestedStart]="suggestionString"></app-autocomplete>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Description:
    </div>
    <div class="col-10">
     <input type="text" name="description" class="form-control" placeholder="description" [(ngModel)]="categoriesService.entry.description" [appHighlight]="highLightColor">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Other:
    </div>
    <div class="col-10">
     <input type="text" name="other" class="form-control" placeholder="other" [(ngModel)]="categoriesService.entry.other" [appHighlight]="highLightColor">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Username:
    </div>
    <div class="col-10">
     <input type="text" name="username" class="form-control" placeholder="username" [(ngModel)]="categoriesService.entry.username" [appHighlight]="highLightColor">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Password:
    </div>
    <div class="col-10">
     <input type="text" name="password" class="form-control" placeholder="password" [(ngModel)]="categoriesService.entry.password" [appHighlight]="highLightColor">
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-4">
       <input type="button" name="new" class="form-control" value="New" (click)="clearEntry()">
      </div>
      <div class="col-4">
       <input type="button" name="save" class="form-control" value="Save" (click)="saveEntry()">
      </div>
      <div class="col-4">
       <input type="button" name="delete" class="form-control" value="Delete" (click)="removeEntry()">
      </div>
  </div>
</form>